*{
    margin: 0;
}
section{
    width: 100%;
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section>nav{
    height: 75vh;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: antiquewhite;
}
section>nav.bi{
    font-size: 40px;
}
nav>.item{
    position: relative;
}
nav>.item span{
    position: absolute;
    top: 13px;
    opacity: 0;
    z-index: -1;
}
section>nav  .item:hover span{
    display: block;
    animation: drag 400ms ease forwards;
}
@keyframes drag {
    from{
        transform: translate(0px);
    }
    top{
        transform: translate(-50px);
        /* display: block; */
        opacity: 1;
    }
}
.logo{
    font-size: 3.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 20px;
    letter-spacing: 5px; 
    
}
/* home */
.home-banner{
    height: 100vh;
    width: 100%;
    background-color: linear-graident(40deg,azure,gainsbord(207,207,207));
    display: flex;
    align-items: center;
}